body {
	background: url(../img/bg.jpg) repeat #FFFFFF;
}

.album-area {
	margin-top: 100px;
	margin-left: 50px;
	padding-top:50px;
	padding-left: 50px;
	height: 860px;
	width: calc(100% - 50px);
	min-width: 1173px;
	background: #FBBE18;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.album-area p {
	text-align: center;
	padding :10px -10px;
	margin-bottom:  26px;
}

.album-photo1, .album-photo2, .album-photo3, 
.album-photo4, .album-photo5, .album-photo6, 
.album-photo7, .album-photo8, .album-photo9, 
.album-photo10, .album-photo11, .album-photo12, 
.album-photo13, .album-photo14, .album-photo15 {
	margin-right: 50px;
	height: 220px;
	width: 240px;
	border: 4px double rgba(171,34,255,0.3);
}